CompileFlags:
  CompilationDatabase: Appli/build
If:
  PathMatch: Appli/.*

---

CompileFlags:
  CompilationDatabase: ExtMemLoader/build
If:
  PathMatch: ExtMemLoader/.*

---

CompileFlags:
  CompilationDatabase: FSBL/build
If:
  PathMatch: FSBL/.*
